

body {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: Georgia;
    margin: 0;
    padding: 0;
    background-color: #e4f3f7ff;
    padding-bottom: 100px;
}



header {
    background-color: #72c3d5ff; /* Light Blue */
    color: #fff;
    padding: 20px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

header h1 {
    margin: 10;
    font-size: 400%;
    background-color:#72c3d550;
}
/* nav bar */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Transition effect for color change */
    z-index: 900; /* Ensure it's on top of other content */
    border-color: #abd5d8ff;
}


nav ul li a:hover {
    color: #abd5d8ff; /* Light Teal */ /* Change color on hover */
    
}
/* Add background image to the header */
.Home-header-bg {
    background-image: url("Images/Home Photo.jpeg");
    background-size: cover; /* is ensures the image covers the entire header */
    background-position: center; /* Center the image within the header */
    height: 75vh; /* Adjust the height as needed */
    color: #fff; /* Set text color to white */
}

.Info-header-bg {
    background-image: url("Images/Home Photo.jpeg");
    background-size: cover; /* is ensures the image covers the entire header */
    background-position: center; /* Center the image within the header */
    height: 25vh; /* Adjust the height as needed */
    color: #fff; /* Set text color to white */
}


section {
    padding: 20px;
}
/* footer */
footer {
    background-color: #72c3d5ff
    ;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-top: 500px; /* Add margin to create space above the footer */
}
.header-bg h1 {
    color: #fff; /* Set text color to white */
    font-size: 3em; /* Increase font size */
    background-color: #72c3d540; /* Add background color */
    padding: 30px; /* Add some padding for better visibility */
    z-index: 9999; /* Ensure it's above other content */
    
}

/* Additional Colors: On hover */
#intro {
    background-color: #abd5d8ff; /* Light Teal */
}

#about {
    background-color: #b8caccff; /* Light Gray */
}

button {
    background-color: #d5d8d4ff; /* Light Gray */
    color: #333; /* Dark Gray */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffffff; /* White */
    color: #333; /* Dark Gray */
}

/*content bars*/
.content-bar {
    background-color: #e4f3f7ff; /* Light Blue */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content-bar ul {
    list-style-type: none;
    padding: 0;
}

.content-bar ul li {
    display: inline;
    margin-right: 20px;
}

.content-bar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Transition effect for color change */
}



.content-bar ul li a:hover {
    color: #abd5d8ff; /* Light Teal */ /* Change color on hover */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #72c3d520; /* Semi-transparent background color */
    z-index: 100; /* Ensure it's on top of other content */
    pointer-events: none; /* Allow clicks to pass through */
}

 /* main page boxes*/

 .container {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

 }
 

 .box {
    width: 25%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    margin: top 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
 }
 
 .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
 }
 
 .box h3 {
    margin-bottom: 10px;
    color:#000000
 }
 
 .box p {
    margin-bottom: 20px;

    color:#000000
 }
 
 .box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
 }
 
 .box button:hover {
    background-color: #0056b3;
 }
 
 /* Remove default anchor styling */
 .box a {
    text-decoration: none;
    color: inherit;
 }

 .explanation{

    padding-left:20%;
    padding-right:20%;
    padding-top: 20px;
    padding-bottom: 40px;
    align-self: center;

 }

 .explanation h2 {

    text-align: center;
    padding: 1cm;

}

 .explanation p {

    align-self: center;
    font-size: 20px;

 }

 .FrontPageBackgroudBox{

    padding:5px;
    background-color: #72c3d525;

 }

 .FrontPageBackgroudBox p {

padding-left: 20px;
padding-right: 20px;

 }

 .home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff75;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
 }

 .home-button:hover {
    background-color: #0057b3;
 }
 
 .text-section {
    width: 45%;
 }

 .text-section p {
    margin-bottom: 20px;
 }

 .text-section ul {
    list-style-type: disc;
    padding-left: 20px;
 }

 .image-section {
    width: 45%;
    text-align: center;
 }

 .image-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
 }


 .image-caption {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 20px;
 }


 .title-section {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-bottom: 20px;
 }

 .title {
    font-size: 2.5em;
    margin-bottom: 20px;
 }

 .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
 }

 .text-box {
    width: 48%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .image-container {
    width: 48%;
    text-align: center;
 }

 .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
 }

.title {
margin: 0 auto;

}

.image-caption{

    padding-top: 5px;
    border: 10px;
}

.centered-page{

padding-left: 10%;
padding-right: 10%;

}

.image-container{

    background: #72c3d540;
}

.Title-how-you-can-help{

    align-items: center;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
}


.image-section{
align-items: center;
align-self: center;
padding-left: 20%;
padding-right: 20%;
width: 60%;
}

.title2{

align-items: center;
align-self: center;
padding: 10px;
padding-left: 44%;
padding-right: 0%;
width: 60%;

}

.game-area{

width: 90%;
height: 700px;
margin: 5%;
background-color: #ffffff;
align-items: center;

}

.box:hover{

background-color:#007bff20


}